<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="queue hoverable">Queue</a></li>
  <li><a href="#" class="queue-next hoverable">Queue Next</a></li>
  <li><a href="#" class="queue-random hoverable">Queue in Random Order</a></li>
  <li><a href="#" class="queue-next-random hoverable">Queue Next in Random Order</a></li>
  <li>
    {{#if status.delete_enabled}}
      <a href="#" class="delete hoverable">Delete</a>
    {{else}}
      <span title="Delete is disabled: insufficient privileges. See Settings.">Delete</span>
    {{/if}}
  </li>
  {{#if track}}
    <li>
      {{#if status.download_enabled}}
        <a href="library/{{track.file}}" class="download hoverable" target="_blank">Download</a>
      {{else}}
        <span title="Download is disabled due to invalid server configuration.">Download</span>
      {{/if}}
    </li>
  {{/if}}
</ul>

