{{#itemList}}
  <li>
    <div class="clickable" id="{{storedplaylistitemid id}}" data-key="{{id}}" data-type="stored_playlist_item">
      <span>
        {{#track}}
          {{#if artistName}}{{artistName}} - {{/if}}{{name}}
        {{/track}}
      </span>
    </div>
  </li>
{{/itemList}}
