<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="remove hoverable">Remove</a></li>
  <li>
    {{#if status.delete_enabled}}
      {{#if permissions.admin}}
        <a href="#" class="delete hoverable">Delete From Library</a>
      {{else}}
        <span title="Delete is disabled: insufficient privileges. See Settings.">Delete From Library</span>
      {{/if}}
    {{else}}
      <span title="Delete is disabled due to invalid server configuration.">Delete From Library</span>
    {{/if}}
  </li>
  <li>
  {{#if status.download_enabled}}
    {{#if item}}
      <a href="library/{{item.track.file}}" class="download hoverable" target="_blank">Download</a>
    {{/if}}
    {{#if download_multi}}
      <a href="#" class="download-multi hoverable">Download</a>
    {{/if}}
  {{else}}
    <span title="Download is disabled due to invalid server configuration.">Download</span>
  {{/if}}
  </li>
</ul>
