<div id="shortcuts" style="display: none">
  <h1>Playback</h1>
  <dl>
    <dt>Space</dt>
    <dd>Toggle playback</dd>
  </dl>
  <dl>
    <dt>Left <em>and</em> Right</dt>
    <dd>Skip 10 seconds in the song</dd>
  </dl>
  <dl>
    <dt>Shift</dt>
    <dd>Hold to skip by 10% instead of 10 seconds</dd>
  </dl>
  <dl>
    <dt>&lt; <em>or</em> Ctrl + Left <em>and</em> &gt; <em>or</em> Ctrl + Right</dt>
    <dd>Skip track</dd>
  </dl>
  <dl>
    <dt>- <em>and</em> +</dt>
    <dd>Change volume</dd>
  </dl>
  <dl>
    <dt>s</dt>
    <dd>Toggle streaming</dd>
  </dl>

  <h1>Playlist</h1>
  <dl>
    <dt>Up <em>and</em> Down</dt>
    <dd>Select the next song</dd>
  </dl>
  <dl>
    <dt>Ctrl + Up <em>and</em> Ctrl + Down</dt>
    <dd>Move selection up or down one</dd>
  </dl>
  <dl>
    <dt>Enter</dt>
    <dd>Play the selected song</dd>
  </dl>
  <dl>
    <dt>C</dt>
    <dd>Clear playlist</dd>
  </dl>
  <dl>
    <dt>H</dt>
    <dd>Shuffle playlist</dd>
  </dl>
  <dl>
    <dt>d</dt>
    <dd>Toggle dynamic playlist mode</dd>
  </dl>
  <dl>
    <dt>r</dt>
    <dd>Change repeat state</dd>
  </dl>
  <dl>
    <dt>Del</dt>
    <dd>Remove selected songs from playlist</dd>
  </dl>
  <dl>
    <dt>Shift + Del</dt>
    <dd>Delete selected songs from library</dd>
  </dl>

  <h1>Navigation</h1>
  <dl>
    <dt>l</dt>
    <dd>Switch to Library tab</dd>
  </dl>
  <dl>
    <dt>u</dt>
    <dd>Switch to Upload tab</dd>
  </dl>
  <dl>
    <dt>t</dt>
    <dd>Focus chat box</dd>
  </dl>

  <h1>Library Search Box</h1>
  <dl>
    <dt>/</dt>
    <dd>Focus library search</dd>
  </dl>
  <dl>
    <dt>Esc</dt>
    <dd>Clear filter. If filter is already clear, remove focus.</dd>
  </dl>
  <dl>
    <dt>Enter</dt>
    <dd>Queue all search results</dd>
  </dl>
  <dl>
    <dt>Down</dt>
    <dd>Select the first search result</dd>
  </dl>

  <h1>Library</h1>
  <dl>
    <dt>Up <em>and</em> Down</dt>
    <dd>Select the next item up or down</dd>
  </dl>
  <dl>
    <dt>Left <em>and</em> Right</dt>
    <dd>Expand or collapse selected item</dd>
  </dl>
  <dl>
    <dt>Enter</dt>
    <dd>Queue selected items<dd>
  </dl>
  <dl>
    <dt>Del</dt>
    <dd>Delete selected songs from library</dd>
  </dl>

  <h1>Miscellaneous</h1>
  <dl>
    <dt>?</dt>
    <dd>Displays keyboard shortcuts</dd>
  </dl>
  <dl>
    <dt>Esc</dt>
    <dd>Close menu, cancel drag, clear selection</dd>
  </dl>
  <dl>
    <dt>Alt</dt>
    <dd>Hold when right clicking to get the normal browser menu</dd>
  </dl>
  <dl>
    <dt>Shift</dt>
    <dd>Hold while queuing to queue next<dd>
  </dl>
  <dl>
    <dt>Alt</dt>
    <dd>Hold while queuing to queue in random order<dd>
  </dl>
  <dl>
    <dt>Ctrl</dt>
    <dd>Hold to select multiple items<dd>
  </dl>
  <dl>
    <dt>Shift</dt>
    <dd>Hold while selecting to select all items in between<dd>
  </dl>
</div>
