{{#if stored_playlists}}
  <ul>
    {{#stored_playlists}}
      <li>
        <div class="clickable expandable" id="{{storedplaylistid name}}" data-key="{{name}}" data-type="playlist">
          <div class="ui-icon ui-icon-triangle-1-e"></div>
          <span>{{name}}</span>
        </div>
      </li>
    {{/stored_playlists}}
  </ul>
{{else}}
  <p class="ui-state-highlight ui-corner-all">
    <span class="ui-icon ui-icon-info"></span>
    <strong>No Playlists</strong>
  </p>
{{/if}}
