<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="queue hoverable">Queue</a></li>
  <li><a href="#" class="queue-next hoverable">Queue Next</a></li>
  <li><a href="#" class="download hoverable">Download</a></li>
</ul>

