<div>
  <input type="text" id="lib-filter" placeholder="filter">
  <select id="organize">
    <option selected="selected">Artist / Album / Song</option>
  </select>
</div>
{{#if artists}}
  <ul id="library-items">
    {{#artists}}
      <li class="expand">
        <div class="ui-icon ui-icon-triangle-1-e"></div>
        <a href="#" class="artist">{{name}}</a>
      </li>
    {{/artists}}
  </ul>
{{else}}
  Empty library
{{/if}}

