{{#if artists}}
  <ul>
    {{#artists}}
      <li>
        <div class="artist expandable">
          <div class="ui-icon ui-icon-triangle-1-e"></div>
          <span>{{name}}</span>
        </div>
        <ul></ul>
      </li>
    {{/artists}}
  </ul>
{{else}}
  <p class="ui-state-highlight ui-corner-all">
    <span class="ui-icon ui-icon-info"></span>
    <strong>{{empty_library_message}}</strong>
  </p>
{{/if}}
