{{#if artists}}
  <ul id="library-items">
    {{#artists}}
      <li class="expand artist">
        <div class="ui-icon ui-icon-triangle-1-e"></div>
        <span>{{name}}{{^name}}hi{{/name}}</span>
      </li>
    {{/artists}}
  </ul>
{{else}}
  Empty library
{{/if}}

