<ul class="playback-btns">
  <li class="skip-prev"></li>
  <li class="stop"></li>
  <li class="pause"></li>
  <li class="skip-next"></li>
</ul>
<ul class="song-btns">
  <li class="ban">Ban From Random</li>
  <li class="download">Download</li>
</ul>
<h1>{{title}} - {{artist}} - {{album}}</h1>
<p>slider bar thing</p>
<span class="time passed"></span>
<span class="time left"></span>

