<ul class="playback-btns">
  <li class="skip-prev">
    <a href="#">&lt;</a>
  </li>
  <li class="stop">
    <a href="#">stop</a>
  </li>
  <li class="pause">
    <a href="#">pause</a>
  </li>
  <li class="play">
    <a href="#">play</a>
  </li>
  <li class="skip-next">
    <a href="#">&gt;</a>
  </li>
</ul>
<ul class="song-btns">
  <li class="ban">Ban From Random</li>
  <li class="download">Download</li>
</ul>
<h1>{{title}} - {{artist}} - {{album}}</h1>
<p>slider bar thing</p>
<span class="time passed"></span>
<span class="time left"></span>

