<div>
  <a href="#">Clear</a>
  <a href="#">Save</a>
  <input type="text" id="pl-filter" placeholder="filter">
  <a href="#">Random Mix</a>
  <a href="#">Repopulate</a>
</div>
<ul>
  {{#playlist}}
    <li>
      <a href="#" class="track" data-id="{{track}}">{{track}}. {{file}}</a>
    </li>
  {{/playlist}}
</ul>
