<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="remove hoverable">Remove</a></li>
  <li><a href="library/{{track.file}}" class="download hoverable" target="_blank">Download</a></li>
</ul>
