<div id="shortcuts" style="display: none">
  <h1>Playback</h1>
  <dl>
    <dt>space</dt>
    <dd>Toggle playback</dd>
  </dl>
  <dl>
    <dt>left</dt>
    <dd>Skip a few seconds backward</dd>
  </dl>
  <dl>
    <dt>right</dt>
    <dd>Skip a few seconds forward</dd>
  </dl>
  <dl>
    <dt>Shift + left</dt>
    <dd>Skip backward 10%</dd>
  </dl>
  <dl>
    <dt>Shift + right</dt>
    <dd>Skip forward 10%</dd>
  </dl>
  <dl>
    <dt>&lt; <em>or</em> Ctrl + left</dt>
    <dd>Skip to previous track</dd>
  </dl>
  <dl>
    <dt>&gt; <em>or</em> Ctrl + right</dt>
    <dd>Skip to next track</dd>
  </dl>
  <dl>
    <dt>-</dt>
    <dd>Volume down</dd>
  </dl>
  <dl>
    <dt>+</dt>
    <dd>Volume up</dd>
  </dl>

  <h1>Playlist</h1>
  <dl>
    <dt>up</dt>
    <dd>Select the next song up</dd>
  </dl>
  <dl>
    <dt>down</dt>
    <dd>Select the next song down</dd>
  </dl>
  <dl>
    <dt>Shift + up</dt>
    <dd>Add next song up to selection</dd>
  </dl>
  <dl>
    <dt>Shift + down</dt>
    <dd>Add next song down to selection</dd>
  </dl>
  <dl>
    <dt>Ctrl + up</dt>
    <dd>Move selection up one</dd>
  </dl>
  <dl>
    <dt>Ctrl + down</dt>
    <dd>Move selection down one</dd>
  </dl>
  <dl>
    <dt>C</dt>
    <dd>Clear playlist</dd>
  </dl>
  <dl>
    <dt>H</dt>
    <dd>Shuffle playlist</dd>
  </dl>
  <dl>
    <dt>d</dt>
    <dd>Toggle dynamic playlist mode</dd>
  </dl>

  <h1>Navigation</h1>
  <dl>
    <dt>l</dt>
    <dd>Switch to Library tab</dd>
  </dl>
  <dl>
    <dt>u</dt>
    <dd>Switch to Upload tab</dd>
  </dl>
  <h1>Library Search Box</h1>
  <dl>
    <dt>/</dt>
    <dd>Focus library search</dd>
  </dl>
  <dl>
    <dt>Esc</dt>
    <dd>Clear filter. If filter is already clear, remove focus.</dd>
  </dl>
  <dl>
    <dt>Enter</dt>
    <dd>Queue all search results</dd>
  </dl>
  <dl>
    <dt>Shift + Enter</dt>
    <dd>Queue next all search results</dd>
  </dl>
  <dl>
    <dt>Alt + Enter</dt>
    <dd>Queue all search results in random order</dd>
  </dl>
  <dl>
    <dt>Shift + Alt + Enter</dt>
    <dd>Queue next all search results in random order</dd>
  </dl>

  <h1>Miscellaneous</h1>
  <dl>
    <dt>?</dt>
    <dd>Displays keyboard shortcuts</dd>
  </dl>
  <dl>
    <dt>Esc</dt>
    <dd>Close menu, cancel drag, clear selection</dd>
  </dl>
</div>
