/* General */
html{
    background:url("img/ui-bg_diagonals-thick_15_0b3e6f_40x40.png")
}
body{
    font-family:Arial,Helvetica,sans-serif
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}
ol,ul{
    list-style:none
}
input,textarea,select{
    font-size:inherit
}
a:hover,a:active,a:focus{
    outline:0
}
.hidden {
    display: none !important;
}

/* layout */
html, body {
    height: 100%;
}
.gridlayout {
    display: grid;
    width: 100%;
    height: 100%;
}

#main-grid {
    grid-gap: 10px;
    grid-template-columns: 400px auto;
    grid-template-rows: auto 1fr;
}
#nowplaying {
    grid-column: span 2;
    width: 100%;
}

#left-window {
    grid-gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}
#left-window-content {
    height: 100%;
}
#left-window-content > div {
    height: 100%;
}

#events-pane {
    grid-template-rows: auto 1fr auto;
}

/* The rest */
.button{
    background:#333 url("img/ui-bg_dots-small_20_333333_2x2.png") 50% 50% repeat;
    margin:3px 1px 1px 1px;
    padding:5px;
    border:0;
    border-radius:4px;
    color:#fff;
    font-weight:bold;
    font-size:13px;
    cursor:pointer;
}
.button span{
    display:inline-block
}
.button label{
    cursor:pointer;
    vertical-align:top
}
.button:hover{
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat
}
.button:disabled{
    opacity:.35;
    background-image:none
}
.button:focus{
    outline:0
}
.button.on{
    margin:2px 0 0 0;
    border:1px solid #096ac8;
    background:#292929 url("img/ui-bg_flat_40_292929_40x100.png") 50% 50% repeat-x;
    font-weight:bold;
    color:#75abff
}
#stream-btn{
    padding-right:11px
}
input[type=range]{
    -webkit-appearance:none;
    margin:10px 10px 5px;
    width:calc(100% - 20px);
    height:14px;
    border-radius:4px;
    border:1px solid #000;
    background:#282828 url("img/bright-10.png") left no-repeat;
    background-size:0% 100%
}
input[type=range]::-moz-range-track{
    border:none;
    background:transparent
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    background-color:#fff;
    border:1px solid #333;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
    border-radius:3px;
    height:16px;
    width:14px
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance:none;
    background-color:#fff;
    border:1px solid #333;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
    border-radius:3px;
    height:14px;
    width:12px
}
input[type=range]:focus{
    outline:0
}
.widget{
    border:1px solid #000;
    background:#111 url("img/ui-bg_gloss-wave_20_111111_500x100.png") 50% top repeat-x;
    color:#d9d9d9;
    border-radius:4px;
}
.widget a{
    color:#96b7eb
}
.icon{
    width:16px;
    height:16px;
    background-image:url("img/ui-icons_9ccdfc_256x240.png");
    display:block;
    background-repeat:no-repeat
}
button:hover .icon{
    background-image:url("img/ui-icons_ffffff_256x240.png")
}
.icon-seek-next{
    background-position:-32px -160px
}
.icon-seek-prev{
    background-position:-48px -160px
}
.icon-play{
    background-position:0 -160px
}
.icon-pause{
    background-position:-16px -160px
}
.icon-stop{
    background-position:-96px -160px
}
.icon-signal-diag{
    background-position:-16px -176px
}
.icon-volume-off{
    background-position:-128px -160px
}
.icon-volume-on{
    background-position:-144px -160px
}
.icon-info{
    background-position:-16px -144px
}
.icon-alert{
    background-position:0 -144px
}
.icon-triangle-1-e{
    background-position:-32px -16px
}
.icon-triangle-1-se{
    background-position:-48px -16px
}
.icon-closethick{
    background-position:-96px -128px
}
.icon-trash{
    background-position:-176px -96px
}
.icon-tag{
    background-position:-240px -96px
}
#blackout{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}
#modal{
    z-index:3;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-height: 95%;
}
#modal-header{
    border-radius:4px;
    border:1px solid #0b3e6f;
    background:#0b3e6f url("img/ui-bg_diagonals-thick_15_0b3e6f_40x40.png") 50% 50% repeat;
    color:#f6f6f6;
    font-weight:bold;
    font-size:21px;
    padding:13px
}
#modal-close{
    float:right
}
#modal-content{
    padding:4px 20px;
    max-height: 90vh;
    overflow-x:auto;
    overflow-y:auto
}
#modal-content div:focus{
    outline:0
}
#context-menu{
    position:fixed;
    z-index:1;
    font-weight:normal;
    width:274px;
}
#context-menu li a{
    font-size:16px;
    text-decoration:none;
    display:block;
    color:#d9d9d9;
    padding:3px 12px
}
#context-menu li.disabled a{
    opacity:.35
}
#context-menu li a:hover{
    font-weight:bold;
    color:#fff;
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat
}
#client-vol-slider{
    margin:3px
}
#vol-slider{
    margin:3px 0 0 0
}
#nowplaying{
    text-align:center;
}
#nowplaying .playback-btns{
    float:left
}
#nowplaying h1{
    font-size:16px;
    letter-spacing:.1em;
    margin-top:8px;
    font-weight:bold
}
#nowplaying-time-elapsed{
    float:left;
    margin:4px;
    font-weight:bold;
    font-family:monospace
}
#nowplaying-time-left{
    float:right;
    margin:4px;
    font-weight:bold;
    font-family:monospace
}
#client-vol,#vol{
    margin:8px;
}
#client-vol span,#vol span{
    float:left
}
#client-vol-slider,#vol-slider{
    float:left;
    height:10px;
}
#client-vol-slider .ui-slider-handle,#vol-slider .ui-slider-handle{
    height:16px;
    width:16px;
    margin-top:2px
}
#client-vol-slider{
    width:60px
}
#vol-slider{
    width:300px
}
#vol-warning{
    color:#b63434
}
#vol-warning a{
    color:#57bf3b
}
#library-pane .window-header{
    height:30px
}
#tabs{
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
#tabs ul li{
    display:inline-block;
    background:#333 url("img/ui-bg_dots-small_20_333333_2x2.png") 50% 50% repeat;
    color:#fff;
    margin:0;
    padding:6px;
    cursor:pointer;
    font-size:13px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border:1px solid transparent;
}
#tabs ul li.active,#tabs ul li.active:hover{
    border:1px solid #096ac8;
    border-bottom:0;
    color:#75abff;
    background:#292929 url("img/ui-bg_flat_40_292929_40x100.png") 50% 50% repeat-x
}
#tabs ul li:hover{
    border:1px solid #222;
    border-bottom:0;
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat
}
#library,#playlists{
    overflow-y:auto;
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    cursor:default;
}
#library div.icon,#playlists div.icon{
    float:left
}
#library p,#playlists p{
    border:1px solid #052f57;
    background:#0b58a2 url("img/ui-bg_dots-medium_30_0b58a2_4x4.png") 50% 50% repeat;
    color:#fff;
    border-radius:4px;
    text-align:center;
    margin:20px auto 0;
    padding:4px;
    width:150px;
}
#library p span,#playlists p span{
    float:left;
    margin-right:.3em;
    background-image:url("img/ui-icons_ffffff_256x240.png")
}
#library p strong,#playlists p strong{
    font-weight:bold
}
#library ul ul,#playlists ul ul{
    margin-left:9px;
}
#library ul ul ul,#playlists ul ul ul{
    margin-left:16px
}
#library ul div.selected,#playlists ul div.selected{
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat;
    color:#fff
}
#library ul div.cursor,#playlists ul div.cursor{
    text-decoration:underline
}
#lib-filter{
    margin:4px;
    width:175px
}
#user-id{
    cursor:pointer
}
#organize{
    width:191px
}
#queue-window .window-header{
    margin-bottom:4px;
    font-size:.6em
}
#queue-duration,#queue-duration-label{
    font-size:1.4em
}
#queue-list .header{
    font-weight:bold;
    overflow-x:hidden;
    overflow-y:hidden;
    height:1.2em
}
#queue-list .track{
    width:26px;
    float:left
}
#queue-list .title{
    width:calc(40% - 12px);
    float:left
}
#queue-list .artist{
    width:30%;
    float:left
}
#queue-list .album{
    width:30%;
    float:left
}
#queue-list .time{
    min-width:41px;
    float:right
}
#queue-list .middle{
    overflow:hidden;
    display:block
}
#queue-list .track,#queue-list .title,#queue-list .artist,#queue-list .album,#queue-list .time{
    white-space:nowrap;
    height:1.2em;
    overflow-x:hidden;
    overflow-y:hidden;
    display:block;
    margin-right:4px
}
#queue-items{
    overflow-y:auto;
    overflow-x:hidden;
    clear:both;
    width:100%;
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
#queue-items div{
    clear:both;
    overflow-x:hidden;
    overflow-y:hidden;
    height:1.2em;
    cursor:default
}
#queue-items div:nth-child(2n+1){
    background-color:#2a2a2a
}
#queue-items .random{
    color:#96b7eb
}
#queue-items .old{
    color:#555
}
#queue-items .selected{
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat;
    color:#fff
}
#queue-items .current{
    border:1px solid #096ac8;
    background-color:#292929;
    font-weight:bold;
    color:#75abff
}
#queue-items .cursor span{
    text-decoration:underline
}
#queue-items .border-bottom{
    border-bottom:2px dashed #fff
}
#queue-items .border-top{
    border-top:2px dashed #fff
}
#queue-items .track{
    text-align:right
}
#queue-items .time{
    text-align:right
}
#upload{
    overflow-y:auto;
    padding:4px;
}
#upload h1{
    font-size:1.4em;
    margin:4px 0
}
#upload-widget{
    padding:10px
}
#upload-by-url,#import-by-name{
    width:370px
}
#shortcuts h1{
    font-size:21px;
    margin-bottom:10px;
    margin-top:10px;
    font-weight:bold
}
#shortcuts dl{
    font-size:17px;
    margin-bottom:4px;
}
#shortcuts dl dt{
    font-family:monospace;
    display:inline;
    padding:3px;
    background-color:#272727;
    font-weight:bold;
    font-size:14px;
    text-shadow:1px 1px 0 #000;
    border-radius:4px;
}
#shortcuts dl dt em{
    font-weight:normal;
    color:#afafaf;
    text-shadow:none
}
#shortcuts dl dd{
    display:inline
}
#edit-tags{
    font-size:21px
}
#main-err-msg{
    border:1px solid #cd0a0a;
    background:#a32d00 url("img/ui-bg_dots-small_30_a32d00_2x2.png") 50% 50% repeat;
    color:#fff;
    border-radius:4px;
    margin:200px auto;
    width:142px;
    padding:4px;
}
#main-err-msg span{
    float:left;
    margin-right:.3em;
    background-image:url("img/ui-icons_ffffff_256x240.png")
}
#main-err-msg strong{
    font-weight:bold
}
#settings{
    padding:6px;
}
#settings .section{
    margin-bottom:14px;
}
#settings .section h1{
    font-weight:bold;
    font-size:1.4em
}
#settings .section h2{
    font-size:1.1em;
    font-weight:bold
}
#settings .section button,#settings .section label{
    font-size:.8em
}
#settings .section em{
    font-style:italic
}
#settings .section ul{
    font-size:.9em;
}
#settings .section ul li:before{
    content:"\2713"
}
#auth-username,#auth-password{
    width:300px
}
#settings-users-select{
    width:350px
}
#settings-delete-user{
    margin-right:20px
}
#settings-request{
    background-color:#292929;
    border-radius:4px;
    padding:4px
}
#request-name{
    width:290px
}
#request-replace{
    width:294px
}
#events-online-users{
    max-height:90px;
    overflow-y:auto;
}
#events-online-users .user{
    width:180px;
    overflow-x:hidden;
    float:left;
}
#events-online-users .user .streaming{
    float:left
}
#events-online-users .user .name{
    float:left
}
.accesskey{
    text-decoration:underline
}
.perm{
    background-color:#292929;
    color:#96b7eb;
    padding:2px;
    border-radius:4px
}
#events-list{
    overflow-y:auto;
    font-size:.9em;
}
#events-list .name{
    width:29%;
    float:left;
    overflow-x:hidden;
    overflow-y:hidden;
    text-align:right;
    height:16px;
    white-space:nowrap
}
#events-list .msg{
    float:left;
    width:69%;
    margin-left:4px;
    word-wrap:break-word
}
#events-list .event{
    padding-top:2px;
}
#events-list .event.chat-me{
    color:#a6a6a6;
    font-size:.95em;
    font-style:italic
}
#events-list .chat{
    background-color:#292929
}
#import-progress-list{
    overflow-y:auto
}
#chat-box-input{
    width:100%
}
#edit-tags div{
    margin-bottom:6px
}
#edit-tags .field{
    width:177px;
    display:block;
    float:left;
    text-align:right;
    padding-right:6px
}
#edit-tags input[type='text']{
    width:400px
}
#add-to-playlist-list li,#add-to-playlist-new,.label-dialog-name,#add-remove-label-new{
    font-size:16px;
    text-decoration:none;
    display:block;
    color:#d9d9d9;
    padding:3px 12px;
    cursor:pointer;
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none
}
#add-to-playlist-list li:hover,#add-to-playlist-new:hover,.label-dialog-name:hover,#add-remove-label-new:hover{
    font-weight:bold;
    color:#fff;
    background:#00498f url("img/ui-bg_dots-small_40_00498f_2x2.png") 50% 50% repeat
}
.label-dialog-trash,.label-dialog-rename{
    float:right;
    display:block;
    margin:-1px 0 0 4px
}
.label-dialog-color{
    float:right
}
.label-dialog-name{
    display:block;
    overflow:hidden
}
.label-dialog-checkbox{
    float:left;
    display:block;
    margin:6px 0 0 4px
}
.label-dialog-item{
    clear:both;
    height:32px
}
#add-remove-label-new{
    clear:both
}
.label-box{
    display:block;
    width:12px;
    height:12px;
    float:right;
    margin-top:4px;
    margin-left:4px;
    border-radius:10px
}
