@mixin user-select($value) {
  -moz-user-select: $value;
  -khtml-user-select: $value;
  user-select: $value;
}

html {
  background: url(vendor/css/dot-luv/images/ui-bg_diagonals-thick_15_0b3e6f_40x40.png);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#track-slider {
  margin: 10px 10px 5px;
}

#nowplaying {
  margin: 6px auto;
  text-align: center;

  .playback-btns {
    float: left;

    li {
      cursor: pointer;
      float: left;
      list-style: none outside none;
      margin: 2px;
      padding: 4px;
    }
  }
  
  h1 {
    letter-spacing: 0.1em;
    margin-top: 8px;
    font-weight: bold;
  }

  .time {
    margin: 4px;
    font-weight: bold;
    font-family: monospace;
  }
  .left {
    float: right;
  }
  .elapsed {
    float: left;
  }
}

#vol {
  margin: 10px;
  span {
    float: left;
    margin: -2px 2px 0px 10px;
  }
}

#vol-slider {
  float: left;
  width: 60px;
  height: 10px;

  .ui-slider-handle {
    height: 16px;
    width: 16px;
    margin-top: 2px;
  }
}

#library-window {
  width: 400px;
  position: absolute;
}

#lib-tabs {
  ul {
    margin-bottom: -1px;

    li {
      display: inline;

      span {
        font-size: .6em;
        padding: 2px 4px;
        font-weight: normal;
      }

      cursor: pointer;
    }
    li.ui-state-active span {
      font-size: .8em;
      font-weight: bold;
    }
  }
}

#library-items {
  overflow-y: auto;

  @include user-select(none);

  div.ui-icon {
    float: left;
  }

  .hoverable {
    cursor: pointer;
  }

  ul {
    margin-left: 9px;
    ul {
      margin-left: 16px;
    }
  }
}

#lib-filter {
  margin: 4px;
  width: 175px;
}

#organize {
  width: 200px;
}

#playlist-window {
  width: 700px;
  position: absolute;
}

#playlist {
  .header {
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1.2em;
  }

  span.track {
    width: 26px;
    padding-right: 8px;
  }

  span.title {
    width: 30%;
  }

  span.artist {
    width: 30%;
  }

  span.album {
    width: 30%;
  }

  span.time {
    width: 36px;
  }

  span {
    white-space: nowrap;
    height: 1.2em;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
  }
}

#playlist-items {
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;

  width: 100%;

  @include user-select(none);

  div {
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1.2em;
    cursor: pointer;
  }

  div.random {
    color: #555555;
  }

  div:nth-child(2n+1) {
    background-color: #2A2A2A;
  }

  span.track {
    text-align: right;
  }

  span.time {
    text-align: right;
  }

}

.window-header {
  height: 30px;
}

#upload-widget {
  padding: 10px;
}
