html {
  background: url(vendor/css/dot-luv/images/ui-bg_diagonals-thick_15_0b3e6f_40x40.png);
}

#track-slider {
  margin: 10px 10px 5px;
}

#nowplaying {
  margin: 6px auto;
  text-align: center;

  .playback-btns {
    float: left;

    li {
      cursor: pointer;
      float: left;
      list-style: none outside none;
      margin: 2px;
      padding: 4px;
    }
  }
  
  h1 {
    font-family: Impact, Charcoal, sans-serif;
    margin-top: 8px;
    font-weight: bold;
  }

  .time {
    margin: 4px;
    font-weight: bold;
    font-family: monospace;
  }
  .left {
    float: right;
  }
  .elapsed {
    float: left;
  }
}

#vol {
  margin: 10px;
  span {
    float: left;
    margin: -2px 2px 0px 10px;
  }
}

#vol-slider {
  float: left;
  width: 60px;
  height: 10px;

  .ui-slider-handle {
    height: 16px;
    width: 16px;
    margin-top: 2px;
  }
}

#library-window {
  width: 400px;
  position: absolute;
}

#lib-tabs {
  ul {
    margin-bottom: -1px;

    li {
      display: inline;

      a {
        font-size: .6em;
        padding: 2px 4px;
        font-weight: normal;
      }
    }
    li.ui-state-active a {
      font-size: .8em;
      font-weight: bold;
    }
  }
}

#library-items {
  div.ui-icon {
    float: left;
  }
  height: 400px;
  overflow-y: auto;

  .hoverable {
    cursor: pointer;
  }

  ul {
    margin-left: 9px;
    ul {
      margin-left: 16px;
    }
  }
}

#lib-filter {
  margin: 4px;
  width: 175px;
}

#organize {
  width: 200px;
}

#playlist-window {
  width: 700px;
  position: absolute;
}

#playlist-items {
  height: 400px;
  overflow-y: auto;

  table {
    width: 100%;
  }

  th {
    font-weight: bold;
  }

  tr:nth-child(2n+1) {
    background-color: #2A2A2A;
  }

  $highlight: #1A1F24;
  tr.current {
    background-color: #3D80C0;
    color: $highlight;
    font-weight: bold;

    a {
      color: $highlight;
    }
  }
  td.time {
    text-align: right;
  }
  td {
    overflow-x: hidden;
  }

}

.window-header {
  height: 30px;
}
