h1 {
  font-weight: bold;
}

#track-slider {
  margin: 10px 10px 5px;
}

#nowplaying {
  margin: 6px auto;
  text-align: center;

  .playback-btns {
    float: left;

    li {
      cursor: pointer;
      float: left;
      list-style: none outside none;
      margin: 2px;
      padding: 4px;
    }
  }
  
  h1 {
    font-family: Impact, Charcoal, sans-serif;
    margin-top: 8px;
  }

  .time {
    margin: 4px;
    font-weight: bold;
    font-family: monospace;
  }
  .left {
    float: right;
  }
  .elapsed {
    float: left;
  }
}

#library {
  width: 500px;
  float: left;

}

#library-items {
  div.ui-icon {
    float: left;
  }
  height: 400px;
  overflow-y: auto;

  li {
    cursor: pointer;
  }
}

#playlist {
  width: 700px;
  float: left;

}

#playlist-items {
  height: 400px;
  overflow-y: auto;

  th {
    font-weight: bold;
  }

  tr:nth-child(2n+1) {
    background-color: #DCE0E5;
  }

  tr.current {
    background-color: #2A2A2A;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }
  td.time {
    text-align: right;
  }
  td {
    overflow-x: hidden;
  }

}
