<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="queue hoverable">Queue</a></li>
  <li><a href="#" class="queue-next hoverable">Queue Next</a></li>
  <li><a href="#" class="queue-random hoverable">Queue in Random Order</a></li>
  <li><a href="#" class="queue-next-random hoverable">Queue Next in Random Order</a></li>
</ul>

